<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Facebook and Google </title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/LoginGGFB.css">
    
    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
   <div>
        <h3>
            <a href="">Đăng nhập thành công !</a>
        </h3>
   </div>
</body>
</html>
